select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
